<% bookList.forEach(function(book, i){ %>
    <div class="col mb-5">
        <div class="card h-100">
          <img class="card-img-top" src="<%= book.imageName %>" alt="...">
          <div class="card-body p-4">
            <div class="text-center">
              <h5 class="fw-bolder"><%= book.name %></h5>
              <h5 class="price">Price: <%= book.price %> <%= book.currency %></h5>
            </div>
          </div>
          <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            
            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="/pay/<%=book._id%>">Buy Paypal</a></div>
            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
          </div>
        </div>
      </div>
  <% }) %>
